# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [9]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.0/10.6 MB 1.9 MB/s eta 0:00:06
                                              0.1/10.6 MB 1.7 MB/s eta 0:00:07
     --                                       0.6/10.6 MB 4.3 MB/s eta 0:00:03
     ---                                      0.9/10.6 MB 5.0 MB/s eta 0:00:02
     -----                                    1.4/10.6 MB 6.2 MB/s eta 0:00:02
     ------                                   1.8/10.6 MB 6.8 MB/s eta 0:00:02
     --------                                 2.4/10.6 MB 7.5 MB/s eta 0:00:02
     ----------                               2.8/10.6 MB 8.2 MB/s eta 0:00:01
     ------------                             3.3/10.6 MB 8.4 MB/s eta 0:00:01
     -------------                            3.6/10.6 MB 8.2 MB/s eta 0:00:01
     ---------------                          4.1/10.6 MB 8.5 MB/s eta 0:00:01
     -----------------                        4.6/10.6 MB 8.6 MB/s eta 0:00:01
     ------------------                       5.0/10.6 MB 8.7 MB/s eta 0:00:01
     ---------------------                    5.6/10.6 MB 9.0 MB/s eta 0:00:01
     ----------------------                   6.1/10.6 MB 9.0 MB/s eta 0:00:01
     ------------------------                 6.6/10.6 MB 9.1 MB/s eta 0:00:01
     -------------------------                6.7/10.6 MB 8.8 MB/s eta 0:00:01
     ---------------------------              7.3/10.6 MB 8.9 MB/s eta 0:00:01
     ----------------------------             7.7/10.6 MB 8.9 MB/s eta 0:00:01
     -------------------------------          8.3/10.6 MB 9.1 MB/s eta 0:00:01
     --------------------------------         8.7/10.6 MB 9.2 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 9.2 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 9.2 MB/s eta 0:00:01
     --------------------------------------   10.2/10.6 MB 9.3 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 10.1 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 10.1 MB/s eta 0:00:01
     ---------------------------------------- 10.6/10.6 MB 9.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ------------------------------------  501.8/502.3 kB 15.9 MB/s eta 0:00:01
     ------------------------------------- 502.3/502.3 kB 10.5 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.4 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
                                              0.0/15.5 MB ? eta -:--:--
     -                                        0.5/15.5 MB 14.5 MB/s eta 0:00:02
     -                                        0.5/15.5 MB 14.5 MB/s eta 0:00:02
     --                                       0.8/15.5 MB 5.9 MB/s eta 0:00:03
     ---                                      1.4/15.5 MB 7.4 MB/s eta 0:00:02
     ----                                     1.9/15.5 MB 8.0 MB/s eta 0:00:02
     ------                                   2.4/15.5 MB 8.4 MB/s eta 0:00:02
     -------                                  2.8/15.5 MB 8.8 MB/s eta 0:00:02
     --------                                 3.2/15.5 MB 8.4 MB/s eta 0:00:02
     ---------                                3.7/15.5 MB 9.0 MB/s eta 0:00:02
     ----------                               4.2/15.5 MB 9.2 MB/s eta 0:00:02
     ----------                               4.2/15.5 MB 9.2 MB/s eta 0:00:02
     ------------                             4.7/15.5 MB 8.6 MB/s eta 0:00:02
     -------------                            5.1/15.5 MB 8.6 MB/s eta 0:00:02
     --------------                           5.6/15.5 MB 8.7 MB/s eta 0:00:02
     ---------------                          6.1/15.5 MB 8.9 MB/s eta 0:00:02
     ----------------                         6.5/15.5 MB 8.8 MB/s eta 0:00:02
     ------------------                       7.0/15.5 MB 9.0 MB/s eta 0:00:01
     -------------------                      7.5/15.5 MB 9.0 MB/s eta 0:00:01
     --------------------                     8.1/15.5 MB 9.2 MB/s eta 0:00:01
     ----------------------                   8.6/15.5 MB 9.3 MB/s eta 0:00:01
     ----------------------                   8.9/15.5 MB 9.1 MB/s eta 0:00:01
     -----------------------                  9.3/15.5 MB 9.1 MB/s eta 0:00:01
     -------------------------                9.9/15.5 MB 9.3 MB/s eta 0:00:01
     -------------------------                10.1/15.5 MB 9.3 MB/s eta 0:00:01
     ---------------------------              10.6/15.5 MB 9.1 MB/s eta 0:00:01
     ---------------------------              10.8/15.5 MB 9.5 MB/s eta 0:00:01
     -----------------------------            11.4/15.5 MB 9.4 MB/s eta 0:00:01
     ------------------------------           11.9/15.5 MB 9.4 MB/s eta 0:00:01
     -------------------------------          12.4/15.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------------        12.8/15.5 MB 9.4 MB/s eta 0:00:01
     ----------------------------------       13.3/15.5 MB 9.5 MB/s eta 0:00:01
     -----------------------------------      13.9/15.5 MB 9.5 MB/s eta 0:00:01
     ------------------------------------     14.3/15.5 MB 9.5 MB/s eta 0:00:01
     --------------------------------------   14.8/15.5 MB 9.9 MB/s eta 0:00:01
     --------------------------------------  15.3/15.5 MB 10.1 MB/s eta 0:00:01
     ---------------------------------------  15.5/15.5 MB 9.8 MB/s eta 0:00:01
     ---------------------------------------  15.5/15.5 MB 9.8 MB/s eta 0:00:01
     ---------------------------------------- 15.5/15.5 MB 9.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\Admin\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import numpy as np
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [11]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [12]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
import pandas as pd
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [ ]:
series[2]

NameError: name 'series' is not defined

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [13]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [14]:
colnames = ['column1','column2','column3','column4','column5']
df = pd.DataFrame(b,columns=colnames)
print(df)

   column1  column2  column3  column4  column5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 5. Rename the data frame columns based on the names in the list below.

In [15]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [16]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']
df = pd.DataFrame(b,columns = colnames)
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [17]:
subset = df[['Score_1','Score_3','Score_5']]

print(subset)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [18]:
df['Score_3'].mean()

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [19]:
df['Score_4'].max()

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [20]:
df['Score_2'].median()

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [21]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [25]:
order_df = pd.DataFrame(orders)
print(order_df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

In [26]:
oreder_df = order_df.T
order_df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [27]:
order_df[['Quantity','Revenue']].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [28]:
difference_df = (order_df['UnitPrice'].max())-(order_df['UnitPrice'].min())
difference_df

11.77